<h1 style="color: #007bff;">¡Bienvenido a PicSpeak!</h1>
<p>Hola, {{ name }}:</p>
<p>Gracias por registrarte en la aplicación PicSpeak.</p>
<p>Para completar el proceso de registro y verificar tu dirección de correo electrónico, por favor ingresa el siguiente código de verificación:</p>
<p><strong>Código de Verificación:</strong> {{ token }}</p>
<p>Si no realizaste este registro, puedes ignorar este mensaje.</p>